<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Race</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Ability Scores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Languages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Proficiencies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Feats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Inventory</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-row">
    <div class="card card-custom" style="width: 18rem;">
        <h5 class="card-title card-title-custom">Legolas</h5>
        <img class="card-img-top" src="./istockphoto-1285820919-170667a.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Elf Ranger</h5> <hr>
        <div class="stats">
        <div class="health">
        <h8>HP</h8>
        <p>?</p>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="ac">
        <h8>AC</h8>
        <p>?</p>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="str">
            <h8>STR: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="con">
            <h8>CON: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="dex">
            <h8>DEX: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="int">
            <h8>INT: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="wis">
            <h8>WIS: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="null">
            <h8>STR: </h8>
        </div>
        <div class="cha">
            <h8>CHA: </h8>
        </div>
        </div>



            <div class="card-body">
                <a href="#" class="card-link">Save Build</a>
                <a href="#" class="card-link">Character Sheet</a>
            </div>
        </div>
    </div>

    <div class="form-area">
        <div class="choices">
            <h1>Choices</h1>
        </div>
        <form class="form-custom" action="#">
            <label for="lang">Choose your Class: </label>
            <select class="dropdown-list" name="languages" id="lang">
                <option value="artificer">Artificer</option>
                <option value="barbarian">Barbarian</option>
                <option value="bard">Bard</option>
                <option value="cleric">Cleric</option>
                <option value="druid">Druid</option>
                <option value="fighter">Fighter</option>
                <option value="monk">Monk</option>
                <option value="paladin">Paladin</option>
                <option value="ranger">Ranger</option>
                <option value="rogue">Rogue</option>
                <option value="sorcerer">Sorcerer</option>
                <option value="warlock">Warlock</option>
                <option value="wizard">Wizard</option>
            </select>
        </form>
    </div>

    <div class="description-sidebar">
        <div class="card card-description-custom" style="width: 18rem;">
            <img class="card-img-top" src="/images/istockphoto-1285820919-170667a.jpg" alt="Card image cap">
            <div class="card-body">
                <h5>Ranger</h5>
                <p class="card-text">Rough and wild looking, a human stalks alone through the shadows of trees, hunting
                    the orcs he knows are planning a raid on a nearby farm. Clutching a shortsword in each hand, he
                    becomes a whirlwind of steel, cutting down one enemy after another.

                    After tumbling away from a cone of freezing air, an elf finds her feet and draws back her bow to
                    loose an arrow at the white dragon. Shrugging off the wave of fear that emanates from the dragon
                    like the cold of its breath, she sends one arrow after another to find the gaps between the dragon’s
                    thick scales.

                    Holding his hand high, a half-elf whistles to the hawk that circles high above him, calling the bird
                    back to his side. Whispering instructions in Elvish, he points to the owlbear he’s been tracking and
                    sends the hawk to distract the creature while he readies his bow.

                    Far from the bustle of cities and towns, past the hedges that shelter the most distant farms from
                    the terrors of the wild, amid the dense-packed trees of trackless forests and across wide and empty
                    plains, rangers keep their unending watch.</p>
            </div>
        </div>
      </div>
</div>
</div>

