
<div class= "grid-wrapper">
            <div class="box1">
                <img class="fill" src="./images/istockphoto-1285820919-170667a.jpg">
            </div>
            <div class="box2">
                <div class="jumbotron jumbotron-fluid jumbotron-1">
                    <div class="container">
                    <button id="ch-builder"><h1 class="display-4">Character Builder</h1></button>
                    <p class="lead">Start your own adventure with our character builder!</p>
                    </div>
                </div>
            </div>
            <div class="box3">
                <img class="fill" src="./images/cthulhu.png">
            </div>
            <div class="box4">
                <div class="jumbotron jumbotron-fluid jumbotron-2">
                    <div class="container">
                    <button id="sample-ch"><h1 class="display-4">Sample Builds</h1></button>
                    <p class="lead">Don't know where to start? Follow some of our sample builds!</p>
                    </div>
                </div>
            </div>
        </div>
<script src="/js/scripts.js"></script>