<div class="main-w3layouts wrapper">
    <h1>Login</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form data-sb-form-api-token="f19dc9bf-da19-45ab-8c71-f867b91c9b4e">
                <input id="email-login" class="text email" type="email" name="email" placeholder="Email" required="">
                <input id="password-login" class="text" type="password" name="password" placeholder="Password"
                    required="">
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input id="loginButton" type="submit" value="LOGIN">
                <div class="d-none" id="submitSuccessMessage"></div>
                <div class="d-none" id="submitErrorMessage"></div>
            </form>
                <p>Don't have an Account? <a href="signup"> Sign up Now!</a></p>
        </div>
    </div>

    </form>

</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script src="/js/login.js"></script>