<div class="main-div">

        <div class="card" style="width: 375px">
            <div class="card-body">
                <div class="row card-title">
                    <!-- <img class="card-img-top" src="orc-dnd-1239524.jpg" alt="Card image cap"> -->
                    <h4 class="col">The Big One</h4>
                    <div class="col text-end">
                        <a href="#" id="see-profile-button"class="btn btn-primary">See Character</a>
                    </div>
                </div>

                <p class="card-text">Race: Half-Orc</p>
                <p class="card-text">Class: Fighter</p>
                <p class="card-text">Level: 1</p>


            </div>
        </div>
    </div>
        </div>