{{!-- <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-start h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form data-sb-form-api-token="f19dc9bf-da19-45ab-8c71-f867b91c9b4e">

                                <div class="form-outline mb-4">
                                    <input type="text" id="name-signup" class="form-control form-control-lg" />
                                    <label class="form-label" for="name-signup">Your

                                        Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="email-signup" class="form-control form-control-lg" />
                                    <label class="form-label" for="email-signup">Your

                                        Email</label>
                                </div>

                                <div class="form-outline mb-4">

                                    <input type="password" id="password-signup" class="form-control form-control-lg" />
                                    <label class="form-label" for="password-signup">Password</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="password-confirmation" class="form-control form-control-lg" />
                                    <label class="form-label" for="password-confirmation">Repeat your

                                        password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button id="signup-btn" type="button"
                                        class="signup-btn btn btn-success btn-block btn-lg gradient-custom-4 text-body ">Register</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/signup.js"></script> --}}