<div class="main-w3layouts wrapper">
    <h1>SignUp</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form data-sb-form-api-token="f19dc9bf-da19-45ab-8c71-f867b91c9b4e">
                <input id="name-signup" class="text" type="text" name="Username" placeholder="Username" required="">
                <input id="email-signup" class="text email" type="email" name="email" placeholder="Email" required="">
                <input id="password-signup" class="text" type="password" name="password" placeholder="Password"
                    required="">
                <input id="password-confirmation" class="text w3lpass" type="password" name="password"
                    placeholder="Confirm Password" required="">
                <div class="wthree-text">
                    {{!-- Could use this in the future --}}
                    {{!-- <label class="anim">
                        <input type="checkbox" class="checkbox" required="">
                        <span>I Agree To The Terms & Conditions</span>
                    </label> --}}
                    <div class="clear"> </div>
                </div>
                <input id="submitButton" type="submit" value="SIGNUP">
                <div class="d-none" id="submitSuccessMessage"></div>
                <div class="d-none" id="submitErrorMessage"></div>
            </form>
            <p>Have an Account? <a href="login"> Login Now!</a></p>
        </div>
    </div>

    </form>

</div>
</div>
</div>
</div>
</div>
</div>
</section>
<script src="/js/signup.js"></script>
{{!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>s --}}