
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* body {
  background-color: black;
} */

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#main-head {
  font-size:  60px;
}

#see-profile-button {
 background-color: rgb(133, 112, 85) ;
 border-color: black;
}
.button-custom{
  display: flex;
  flex-wrap: wrap;
}

.more-info-null{
  visibility: hidden;
}

@media screen and (max-width: 992px){
  .more-info-null {
      display: none;
  }
}
@media screen and (max-width: 992px){
  .button-custom {
      display: flex;
      flex-direction: column;
  }
}
@media screen and (min-width: 1500px){
  .button-custom {
      margin: auto;
      
  }
}

