
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* body {
  background-color: black;
} */

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* #main-head { */
  /* color:#056605; */
/* } */

.login-div{
  display: flex;
  justify-content: end;
}