
header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
}

#main-head {
    font-size: 60px;
    /* margin-right: 50%; */
}

.butt-custom{
    padding-top: 3%;
    /* margin-right: -50%; */
}

header{
    background-color: rgba(0, 0, 0, 0.911);
    border-color: red;
    border-width: 2px;
}

body{
    background-color: rgba(0, 0, 0, 0.61);
}

.image1{
    width:50%;
    height: 50%;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.box1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 600px;;
    
    }

.box2 {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3; 
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.788);
    border-style: solid;
    border-top: 0px !important;
    }

.box3 {
    grid-area: 2 / 2 / 3 / 3; 
    }

.box4 {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2; 
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.788);
    border-style: solid;
    }

.fill{
    width:100%;
    height: 100%;
}

.more-info-null{
    visibility: hidden;
}

.header-custom{
    background-color: rgba(0, 0, 0, 0.788);
}

.button-custom{
    padding-bottom: 5px;
}

.btn-secondary{
    background-color: inherit;
    border-width: 0px;
}

.btn-secondary:hover{
    background-color: inherit;
    border-width: 0px;
}

.btn-warning.active, .btn-warning:active, .open > .dropdown-toggle.btn-warning {
    background-color:inherit!important;
    border-color:inherit!important;
}

.footer-custom{
    background-image: url(./images/footer-background.png);
}